.input-container {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
}

.input {
  padding: 16px;
  border: none;
  background-color: #f3f3f3;
}

.input:focus {
  outline: none;
  background-color: #ebebeb;
}

.input::placeholder {
  color: #bbbbbb;
}

.error {
  color: orangered;
  font-size: 12px;
}
