.input-container {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-wrapper button {
  max-width: 50px;
  height: 100%;
  margin-left: 8px;
  height: 45px;
  border: none;
  background-color: #d0d0d0;
  color: red;
  cursor: pointer;
}

.input {
  flex: 1;
  padding: 16px;
  border: none;
  background-color: #f3f3f3;
}

.input:focus {
  outline: none;
  background-color: #ebebeb;
}

.input::placeholder {
  color: #bbbbbb;
}

.input.error {
  border: 1px solid orangered;
}

.error {
  color: orangered;
  font-size: 12px;
}
